[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"

[dev]
  port = 8888
  targetPort = 5173 

[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/graphql"
  status = 200

[functions]
  external_node_modules = ["axios"]
  directory = "netlify/functions"